# Docker image tag
IMAGE_TAG=latest

WEB_PORT=8088

# PostgreSQL
# ------------------------------------------------------------------------------
# Admin Database
POSTGRES_HOST=<POSTGRES_HOST>
POSTGRES_PORT=5432
POSTGRES_DB=<POSTGRES_DB>
POSTGRES_USER=<POSTGRES_USER>
POSTGRES_PASSWORD=<POSTGRES_PASSWORD>

# General
# ------------------------------------------------------------------------------
DJANGO_DEBUG=False
DJANGO_LOG_LEVEL=INFO
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=d_F4cDnswFetguMO5iiLKAMUmpy93heWisPaZpKrWEw
DJANGO_ALLOWED_HOSTS=targetviewer.linea.org.br
DJANGO_UWSGI_WORKER_PROCESSES=4
DJANGO_UWSGI_WORKER_THREADS=2

# Databases
# ------------------------------------------------------------------------------
DATABASE_URL=postgres://$POSTGRES_USER:$POSTGRES_PASSWORD@$POSTGRES_HOST:$POSTGRES_PORT/$POSTGRES_DB
DATABASE_MYDB_URL=postgres://<MYDB_USER>:<MYDB_PASS>@<MYDB_HOST>:5432/prod_gavo

# Redis
# ------------------------------------------------------------------------------
REDIS_URL=redis://redis:6379/0

# Celery /Flower
# ------------------------------------------------------------------------------
CELERY_FLOWER_USER=targetviewer
CELERY_FLOWER_PASSWORD=<CELERY_FLOWER_PASSWORD>

# ------------------------------------------------------------------------------
# LIneA
# ------------------------------------------------------------------------------
ENVIRONMENT_NAME=production
BASE_HOST=https://targetviewer.linea.org.br
MYDB_SCHEMA_PREFIX=mydb_

#SAML2
# ------------------------------------------------------------------------------
AUTH_SAML2_LOGIN_URL_CILOGON=$BASE_HOST/saml2/login/?idp=https://satosa.linea.org.br/linea/proxy/aHR0cHM6Ly9jaWxvZ29uLm9yZw==

# Url de login utilizada pelo frontend
LINEA_LOGIN_URL=$AUTH_SAML2_LOGIN_URL_CILOGON
